.sidenav{
    grid-area: sidenav;
    background: #fffdfd;
    padding: 30px;
}
.sidenav ul li a {
    display: block;
    min-width: 60px;
    max-width: 100px;
    margin: 0 auto 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;

    box-shadow: 5px 5px 15px 0px rgba(25,25,25,0.2);
    transform: scale(1.00);
    transition: all  .2s ease-in-out;
}
.sidenav ul li a:hover{
   
    
    box-shadow: inset 2px 2px 3px rgba(25,25,25,0.9);

}
.sidenav ul li a img{
   
    transform: scale(1.00) ;
    transition:  all .2s ease-in-out;
    

}
.sidenav ul li a:hover img{
   
    transform: scale(1.25) ;
    

}